<% 	event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end)); %>
<div id = "event-meta" class  = "pull-right" data-assignment-id='<%= event.id %>'>
    <span><h4><%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %> <i class = "icon-time"></i></h4></span><br />
</div>

<div style = "margin: 10px 0">
	<h4><b>Assignment Info</b></h4>
	<ul>
		<div id="event-modal-publisher"></div>
		<div id="event-modal-assistant"></div>
		<div id="event-modal-sp" class="event-modal-info" data-value="<%=event.info.studyPoint %>"></div>
		<div id="event-modal-duration" class="event-modal-info" data-value="<%=event.info.duration %>"></div>
		<div id="event-modal-notes" class="event-modal-info" data-value="<%=event.info.notes %>"></div>
	</ul>

	<script>
		$('.event-modal-info').each(function () {
			$(this).html("");
		});
		//retrieve publisher and assistant
		var url = "http://localhost:8080/api/assignment/" + $('#event-meta').attr('data-assignment-id') + "/publishers";
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'json'
		}).done(function(data){
			$('#event-modal-publisher').html("<li><h4>Member: " + data.publisher.firstName + " " + data.publisher.lastName + "<h4></li>");
			if(data.assistant !== null){
				$('#event-modal-assistant').html("<li><h4>Assistant: " + data.assistant.firstName + " " + data.assistant.lastName + "<h4></li>");
			}
		})

		//retrieve other assignment info
		url = "http://localhost:8080/api/assignment/" + $('#event-meta').attr('data-assignment-id');
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'json'
		}).done(function(data){
			console.log(data)
			if(data.studyPoint !== undefined && data.studyPoint !== null)
				$('#event-modal-sp').html("<li><h4>Study Point: " + data.studyPoint + "<h4></li>");
			if(data.duration !== undefined && data.duration != null)
				$('#event-modal-duration').html("<li><h4>Duration: " + data.duration + " minutes<h4></li>");
			if(data.notes !== undefined && data.notes != null && data.notes.length != 0)
				$('#event-modal-notes').html("<li><h4>Notes: " + data.notes + "<h4></li>");
		})
	</script>
</div>
